<h2 class="title"><%= t("blog.blog") %></h2>

<p id="main-link"><%= link_to t("common.back"), blog_posts_url %></p>

<div id="content-list">
  
  <div>
    <h3><%= @blog_post.title %></h3>
    <h4><%= @blog_post.user_name %></h4>
    <p><%= @blog_post.content %></p>
  </div>  
  
  <div id="content-sub-list">
    <h4><%= t("blog.comments") %></h4>
    <% @comments.each do |comment| %>
      <div>
        <h5><%= comment.user_name %></h5>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div id="content-sub-list">
      <p>
        <h5><%= t("blog.add_a_comment") %></h5>
        <%= render 'form' %>
      </p>
    </div>
  <% else %>
    <%= link_to t("common.sign_in"), new_user_session_url %>
  <% end %>

</div>