<%= form_for(@reference_file, :html => { :multipart => true }) do |f| %>
  <% if @reference_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reference_file.errors.count, "error") %> prohibited this reference_file from being saved:</h2>

      <ul>
      <% @reference_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t("common.title") %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
