<h1>Listing overviews</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Locale</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @overviews.each do |overview| %>
  <tr>
    <td><%= overview.title %></td>
    <td><%= overview.description %></td>
    <td><%= overview.locale %></td>
    <td><%= link_to 'Show', overview %></td>
    <td><%= link_to 'Edit', edit_overview_path(overview) %></td>
    <td><%= link_to 'Destroy', overview, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New overview', new_overview_path %>
