<% if user_signed_in? %>
  <p id="main-link"><%= link_to t("blog.add_a_new_blog_post"), new_blog_post_path %></p>
<% end %>

<h5><%= t("common.click_on_title_to_view_detail") %></h5>

<div id="content-list">
  
  <% @blog_posts.each do |blog_post| %>
  <div>
    <h3><%= link_to blog_post.title, "", :class => "content-title", "data-content-id" => blog_post.id %></h3>
    <div class="content-detail" data-content-id=<%= blog_post.id %>>
      <h4><%= blog_post.user_name %></h4>
      <p><%= simple_format blog_post.content %></p>
      <p><%= link_to t("blog.comments"), blog_post_comments_url(blog_post) %></p>
    </div>
  </div>
  <% end %>
</div>