<h2 class="title"><%= t("blog.blog") %></h2>

<% if !Rails.env.test? && user_signed_in? %>
  <p id="main-link"><%= link_to t("blog.add_a_new_blog_post"), new_blog_post_path %></p>
<% end %>

<div id="content-list">
  
  <% @blog_posts.each do |blog_post| %>
  <div>
    <h3><%= link_to blog_post.title, "", :class => "content-title", "data-content-id" => blog_post.id %></h3>
    <div class="content-detail" data-content-id=<%= blog_post.id %>>
      <p><%= blog_post.content %></p>
      <p><%= link_to t("blog.comments"), blog_post_comments_url(blog_post) %></p>
    </div>
  </div>
  <% end %>
</div>