<% if admin_signed_in? %>
  <p id="main-link"><%= link_to t("video.add_new_video_info"), new_video_path %></p>
<% end %>

<h5><%= t("video.click_on_image_to_view_video") %></h5>

<table>

<% @videos.each do |video| %>
  <tr>
    <td>
      <%= link_to image_tag(video.thumbnail_file_path), video.video_file_path, :title => video.title, :class => "video-color-box" %>
    </td>
    <td>
      <%= link_to video.title, video.video_file_path, :title => video.title, :class => "video-color-box" %>
    </td>
    <% if admin_signed_in? %>
      <td><%= link_to t("video.show_video_info"), video %></td>
      <td><%= link_to t("video.edit_video_info"), edit_video_path(video) %></td>
      <td><%= link_to t("video.delete_video_info"), video, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>

</table>