<div id="content-list">
  <div>
    <h3><%= @video.title %></h3>
    <p>
      <h4><%= t("video.thumbnail_file_path") %></h4>
      <p><%= @video.thumbnail_file_path %></p>
    </p>
    <p>
      <h4><%= t("video.video_file_path") %></h4>
      <p><%= @video.video_file_path %></p>
    </p>
  </div>
</div>

<%= link_to t("common.edit"), edit_video_path(@video) %> |
<%= link_to t("common.back"), videos_path %>
