<p><%= t("devise.common.hello") %> <%= @resource.email %>!</p>

<p><%= t(".reset_password_instruction") %></p>

<p><%= link_to t(".change_my_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(".wrong_request_instruction") %></p>
<p><%= t(".unchange_password_message") %></p>
