<div id="header"> <!-- start of header -->
  
  <div id="header-links">
    <ul>
      <li><%= link_to_other_locale %></li>
    </ul>
  </div>

  <div id="header-content">
    <h1 class="title"><%= t "common.biochar_quebec" %></h1>
    <p>
      <%= t "header.title_message" %>
    </p>
  </div>

  <div id="tab">
    <ul>
      <li id="overviews-tab"><%= link_to t("common.home"), overviews_url %></li>
      <li id="blog-posts-tab"><%= link_to t("blog.blog"), blog_posts_url %></li>
      <% unless @search_contents.nil? %>
        <li id="search-contents-tab"><%= link_to t("common.search"), search_contents_url(:query => @query) %></li>
      <% end %>
    </ul>
  </div>
  
</div> <!-- end of header -->