<div id="sidebar"> <!-- start of the sidebar -->

  <div id="search">
    <h2 id="search-header"><%= t "common.search" %><span></span></h2>
    <form id="search-form" method="POST" action="/search_contents/">
      <div>
        <input type="text" id="search-keywords" name="keywords"></input>
        <input type="image" alt=<%= t "common.search" %> src="images/search.png"></input>
      </div>
    </form>
  </div>

  <div id="signup-login">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(:current) %>
      <%= link_to t("common.logout"), logout_path %>
    <% else %>
      <%= link_to t("common.signup"), signup_path %>
      <%= link_to t("common.login"), login_path %>
    <% end %>
  </div><!-- end signup-login -->
  
</div> <!-- end of the sidebar -->