<div id="sidebar"> <!-- start of the sidebar -->

  <div id="search">
    <h2 id="search-header"><%= t "common.search" %><span></span></h2>
    <form id="search-form" method="POST" action="/search_contents/">
      <div>
        <input type="text" id="search-keywords" name="keywords"></input>
        <input type="image" alt=<%= t "common.search" %> src="images/search.png"></input>
      </div>
    </form>
  </div>

  <div id="authentication">
    <% # Because the following section contains Devise codes which depends on Warden, which is Rails Engine, testing fails %>
    <% # Hence it is excluded in test environment: %>
    <% unless Rails.env.test? %>
      <% if user_signed_in? %>
        <p><%= current_user.email %></p>
        <%= link_to t("user.edit_profile"), edit_user_registration_url %>
        <%= link_to t("common.sign_out"), destroy_user_session_url %>
      <% else %>
        <%= link_to t("common.sign_up"), new_user_registration_url %>
        <%= link_to t("common.sign_in"), new_user_session_url %>
      <% end %>
    <% end %>
  </div><!-- end authentication -->
  
</div> <!-- end of the sidebar -->