<div id="sidebar"> <!-- start of the sidebar -->

  <div id="search">
    <h2 id="search-header"><%= t "common.search" %><span></span></h2>
    <%= form_tag search_contents_url, :method => :get, :id => "search-form" do %>
      <% # Note: default_url_options in application_controller doesn't work here. Probably because :method is set to :get. %>
      <%= hidden_field_tag :locale, I18n.locale %>
      <div>
        <%= text_field_tag :query, ( @query ? @query : nil ), :class => "search-keywords" %>
        <%= submit_tag I18n.t("common.search") %>
      </div>
    <% end %>
  </div> <!-- end of search -->

  <div id="authentication">
    <% if user_signed_in? %>
      <p><%= current_user.user_name_for_display %></p>
      <%= link_to t("user.edit_profile"), edit_user_registration_url %>
      <%= link_to t("common.sign_out"), destroy_user_session_url %>
    <% else %>
      <%= link_to t("common.sign_up"), new_user_registration_url %>
      <%= link_to t("common.sign_in"), new_user_session_url %>
    <% end %>
  </div><!-- end authentication -->
  
</div> <!-- end of the sidebar -->